#solution_render,
#answer_render
{
    display: block;
    border: 1px solid gray;
    margin: 1%;
    width: 80%;
    min-height: 8ex;
    background-color: BlanchedAlmond;

}

#answer_input {
    background-color: BlanchedAlmond;
    padding: 15px;
}

#form {
    padding-left: 6px;
    margin: 1%;
    border-left: 6px solid blue;
}

#solution_show {
    background-color: BlanchedAlmond;
    padding: 4px;
}
